.topBorder{
	float:top;
	width:1440px;
	height:110px;
	background-color: #999;
	
}

.menuu{
	padding-top: 20px;
}

.jumboness{
padding-top:50px;
}

.pictures{

}
.finderz {
padding-left: 10px;
padding-bottom: 20px;	
}

